<p>
  <ul>
     <% companies.each do |c| %>
      <li><%= link_to "#{c.name.force_encoding('utf-8').encode}-#{c.identification_no}", c.get_url, :target => "_blank" %></li>
     <% end %>
  </ul>
</p>
<p>
  &nbsp;&nbsp;Resultat i:
  <%= link_to "JSON", params.merge(format: :json), target: "_blank" %> -
  <%= link_to "XML", params.merge(format: :xml), target: "_blank" %>
</p>